<template>
  <div class="about">
    <br>
    <table class="table table-bordered sample">
      <thead class="text-center">
      <tr>
        <th> </th>
        <th v-for="dayOfWeek in timetable.daysOfWeek" :key="dayOfWeek">{{dayOfWeek}}</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="komada in timetable.komads" :key="komada.time">
        <th class="times">{{komada.time}}</th>
        <!-- eslint-disable-next-line -->
        <koma v-for="item in komada.komaArray" :session="item" ></koma>
      </tr>
      </tbody>
    </table>
    <b-button v-on:click="click">ボタン</b-button>

  </div>
</template>

<script>
import Koma from '@/components/Koma.vue';
import Timetable from '@/components/timetable';

export default {
  components: { Koma },
  data() {
    return {
      timetable: new Timetable(),
      daysOfWeek: [
        '月',
        '火',
        '水',
        '木',
        '金',
      ],
      komads: [
        {
          time: 1,
          komaArray: [
            { subject: 'abcd', teacher: 'hira' },
            { subject: '' },
            { subject: '' },
            { subject: '' },
            { subject: '' },
          ],
        },
        {
          time: 2,
          komaArray: [
            { subject: '' },
            { subject: '' },
            { subject: '' },
            { subject: '' },
            { subject: '' },
          ],
        },
        {
          time: 3,
          komaArray: [
            { subject: '' },
            { subject: '' },
            { subject: '' },
            { subject: '' },
            { subject: '' },
          ],
        },
        {
          time: 4,
          komaArray: [
            { subject: '' },
            { subject: '' },
            { subject: '' },
            { subject: '' },
            { subject: '' },
          ],
        },
        {
          time: 5,
          komaArray: [
            { subject: '' },
            { subject: '' },
            { subject: '' },
            { subject: '' },
            { subject: '' },
          ],
        },
        {
          time: 6,
          komaArray: [
            { subject: '' },
            { subject: '' },
            { subject: '' },
            { subject: '' },
            { subject: '' },
          ],
        },
      ],
    };
  },
  methods: {
    click() {
      this.timetable.copyKoma({ dayOfWeek: 1, time: 1 }, { dayOfWeek: 2, time: 2 });
    },
  },
};
</script>

<style scoped>
  .sample {
    width: 75%;
  }
  table .td {
    height: 100px;
  }
  .times {
    text-align: center;
  }
</style>
