<template>
  <div align="center">
    <br>
    <b-container class="d-flex justify-content-end">
      <b-button variant="warning">
        <font-awesome-icon icon="question-circle" size="lg"/>
      </b-button>
    </b-container>
    <h1>学科・学年選択画面</h1>
    <br><br><br>
    <!-- 学科選択プルダウンメニュー -->
    <b-form-group class="col-3">
      <b-form-select id="course" v-model="course" :options="courses">
      </b-form-select>
    </b-form-group>

    <br>
    <!-- 学年選択 -->
    <b-form-group class="col-3">
      <b-form-select id="year" v-model="year" :options="years">
      </b-form-select>
    </b-form-group>
    学科：{{course}}
    学年：{{year}}
    <br><br>
      <div v-if="course !== null && year !== null">
        <router-link to="/test">
          <b-button class="bg-primary">
            <font-awesome-icon icon="arrow-alt-circle-right"/>
            次へ
          </b-button>
        </router-link>
      </div>
      <div v-else>
        <b-button class="bg-primary" disabled>
          <font-awesome-icon icon="arrow-alt-circle-right"/>
          次へ
        </b-button>
      </div>
  </div>
</template>

<script>
import Inheritance from '../components/inheritance';

export default {
  // eslint-disable-next-line vue/no-unused-components
  components: { Inheritance },
  data() {
    return {
      course: null,
      courses: [
        { value: null, text: '学科を選択' },
        { value: 1, year: 2, text: 'ITスペシャリスト科' },
        { value: 2, year: 2, text: 'グラフィック科' },
        { value: 3, year: 2, text: 'TV映像音響科' },
        { value: 4, year: 2, text: '医療情報秘書科' },
        { value: 5, year: 3, text: 'こども学科' },
        { value: 6, year: 2, text: 'ビューティー・ウェディング科' },
        { value: 7, year: 3, text: '医療情報管理学科' },
        { value: 8, year: 2, text: '日本語科' },
        { value: 9, year: 1, text: 'IT専攻科' },
        { value: 10, year: 1, text: 'クリエイター専攻科' },
        { value: 11, year: 2, text: '自動車整備科' },
      ],
      year: null,
      years: [
        { value: null, text: '学年を選択' },
        { value: 1, text: '1年' },
        { value: 2, text: '2年' },
        { value: 3, text: '3年' },
      ],
    };
  },
  methods: {
    click() {
      this.inheritance.getId(this.course);
    },
  },
};
</script>

<style>

</style>
