<template>
  <b-form-group class="container" @keyup.enter="addItem(newSubject,newTeacher)">
    <b-form-input class="col-4" placeholder="教科名を入力" v-model="newSubject">
    </b-form-input>
    <b-form-input class="col-1" placeholder="教師名を入力" v-model="newTeacher">
    </b-form-input>
  </b-form-group>
</template>

<script>
export default {
  methods: {
    // eslint-disable-next-line no-unused-vars
    addItem(subject, teacher) {
      const newItem = {
        id: Date.now(),
        subject,
        teacher,
      };

      this.items.push(newItem);
    },
  },
};
</script>

<style scoped>

</style>
