<template>
    <td>
      <b-form-input v-model="session.subject"></b-form-input>
      <b-form-input v-model="session.teacher"></b-form-input>
    </td>
</template>

<script>
export default {
  name: 'Koma',
  props: ['session'],
};
</script>

<style scoped>

</style>
